### input output functions

In [4]:
# to read and display your name
name=input("enter your name")
print (name)

enter your nameanju
anju

In [5]:
# to read and display your name
name=input("enter your name \n")
print ("wow",name,",Your name is nice")

enter your name
Anju
wow Anju ,Your name is nice

In [6]:
number1=2
number1="Anju"

In [7]:
number1

'Anju'

# DATA TYPES

# BUILT IN DATATYPES

In [9]:
#STRING
x="Hello World"
#display x:
print(x)
#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [10]:
#integer
x=20
#display x:
print(x)
print (type(x))

20
<class 'int'>

In [11]:
#float
x=20.5
print(x)
print (type(x))

20.5
<class 'float'>

In [12]:
#complex
x=1j
print(x)
print(type(x))

1j
<class 'complex'>

In [13]:
#list
x=["apple","banana","cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [14]:
#tuple
x=("apple","banana","cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [15]:
#range
x=range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [16]:
#dictionary
x={"name":"john","age":36}
print(x)
print(type(x))

{'name': 'john', 'age': 36}
<class 'dict'>

In [17]:
#set
x={"apple","banana","cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [18]:
#frozenset
x=frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [20]:
#boolean
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [21]:
#bytes
x=b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [22]:
#bytearray
x=bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [23]:
#nontype
x=None
print(x)
print(type(x))

None
<class 'NoneType'>

## specific data types

In [27]:
#string
x=str("hello world")
print(x)
print(type(x))

hello world
<class 'str'>

In [24]:
# integer
x=int(20)
print(x)
print(type(x))

20
<class 'int'>

In [25]:
#float
x=float(20.5)
print(x)
print(type(x))

20.5
<class 'float'>

In [29]:
#complex
x=complex(1j)
print(x)
print(type(x))

1j
<class 'complex'>

In [30]:
#list
x=list(("apple","banana","cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [31]:
#tuple
x=tuple(("apple","banana","cherry"))
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [32]:
#range
x=range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [33]:
#dictionary
x=dict(name="john",age=36)
print(x)
print(type(x))

{'name': 'john', 'age': 36}
<class 'dict'>

In [34]:
#set
x=set(("apple","banana","cherry"))
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [35]:
#frozenset
x=frozenset(("apple","banana","cherry"))
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [36]:
#boolean
x=bool(5)
print(x)
print(type(x))

True
<class 'bool'>

In [37]:
#bytes
x=bytes(5)
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [38]:
#bytearray
x=bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [39]:
#memoryview
x=memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x0000015B43944F40>
<class 'memoryview'>

# operators

## ARITHMETIC OPERATORS

In [40]:
#ADDITION
x=5
y=3
print(x+y)

8

In [41]:
#subtaction
x=5
y=3
print(x-y)

2

In [42]:
#MULTIPLICATION
x=5
y=3
print(x*y)

15

In [44]:
#DIVISION
x=12
y=3
print(x/y)

4.0

In [45]:
#MODULES
x=5
y=2
print(x%y)#gives remainder

1

In [46]:
#exponentiation
x=2
y=5
print(x**y)#same as 2*2*2*2*2

32

In [47]:
#floor division
x=15
y=2
print(x//y)

7

# RELATIONAL OPERATORS

In [48]:
#EQUAL
x=5
y=3
print(x==y)#RETURN FALSE BECAUSE 5 IS NOT EQUAL TO 3

False

In [49]:
#NOT EQUAL
x=5
y=3
print(x!=y)#RETURNS TRUE BECAUSE 5 IS NOT EQUAL TO 3

True

In [50]:
#GREATER THAN
x=5
y=3
print(x>y)#returns true because 5 is greater than than 3

True

In [51]:
#less than
x=5
y=3
print(x<y)#returns false because 5 is not less than than 3

False

In [52]:
#greater than or equal to
x=5
y=3
print(x>=y)#returns true because 5 is greater,or equal to 3

True

In [53]:
#less than or equal to
x=5
y=3
print(x<=y)#returns false because 5 is neither  less than or equal to 3

False

# logical operators

In [54]:
#AND
x=5
print(x>3 and x< 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [56]:
#OR
x=5
print(x>3 or x< 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [58]:
#NOT
x=5
print(not(x>3 and x< 10))
# returns False because not is used to reverse the result

False

# BITWISE OPERATORS

In [60]:
#AND&
first_num=10
sec_num=4
print(first_num&sec_num)

0

In [62]:
#OR |
print(first_num|sec_num)

14

In [63]:
#NOT~
print(~sec_num)

-5

In [64]:
#XOR^
print(first_num^sec_num)

14

In [65]:
#RIGHT SHIFT>>
print(first_num>>2)

2

In [66]:
#LEFT SHIFT<<
print(first_num<<2)

40

# IDENTITY OPERATORS

In [68]:
#is
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is z)
# returns True because z is the same object as x
print(x is y)
# returns False because x is not the same object as y, even if they have the same content
print(x==y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [69]:
#is not
x=["apple","banana"]
y=["apple","banana"]
z=x
print(x is not z)
# returns False because z is the same object as x
print(x is not y)
# returns True because x is not the same object as y, even if they have the same content
print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# membership operators

In [1]:
#in
x=["apple","banana"]
print ("banana"in x)
# returns True because a sequence with the value "banana" is in the list

True

In [3]:
#ni=not in
x=["apple","banana"]
print ("pineapple"not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True

# ASSIGNMENT OPERATORS

In [5]:
x=5
print(x)

5

In [6]:
x=5
x+=3
print(x)

8

In [7]:
x=5
x-=3
print(x)

2

In [8]:
x=5
x*=3
print(x)

15

In [9]:
x=5
x/=3
print(x)

1.6666666666666667

In [10]:
x=5
x%=3
print(x)

2

In [11]:
x=5
x//=3
print(x)

1

In [12]:
x=5
x**=3
print(x)

125

In [13]:
x=5
x&=3
print(x)

1

In [14]:
x=5
x|=3
print(x)

7

In [15]:
x=5
x^=3
print(x)

6

In [16]:
x=5
x>>=3
print(x)

0

In [17]:
x=5
x<<=3
print(x)

40