# conditional

In [2]:
#if statement
a=33
b=200
if b>a:
    print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

In [3]:
# If statement, without indentation (will raise an error):
a=33
b=200
if b>a:
print("b is greater than a")

IndentationError: expected an indented block (908562805.py, line 5)

In [5]:
# elif
a=33
b=33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

In [6]:
# else
a=33
b=200
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [13]:
a=200
b=33
if b>a:
    print("b is greater than a")
else:
    print("b  is not greater than a")

b  is not greater than a

In [14]:
# One line if statement:
if a > b: print("a is greater than b")

a is greater than b

In [15]:
# One line if else statement:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [16]:
# You can also have multiple else statements on the same line:

# One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [19]:
# AND
# Test if a is greater than b, AND if c is greater than a:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [20]:
# OR
# Test if a is greater than b, OR if a is greater than c:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("atleast one of the condition is True")

atleast one of the condition is True

In [23]:
# NESTED IF
x=41
if x>10:
    print("above 10,")
    if x>20:
        print("and also above 20!")
    else:
        print("but not above 20!")

above 10,
and also above 20!

In [24]:
# PASS STATEMENT
a=33
b=200
if b>a:
    pass

# looping statements

while loop

In [1]:
# Print i as long as i is less than 6:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

remember to increment i, or else the loop will continue forever.

In [2]:
# BREAK STATEMENT
# Exit the loop when i is 3:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [8]:
# CONTINUE STATEMENT
#Continue to the next iteration if i is 3:
i=0
while i<6:
    i += 1
    if i==3:
        continue
    print (i)

1
2
4
5
6

In [10]:
# ELSE STATEMENT
# Print a message once the condition is false:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# for loop

In [12]:
# Print each fruit in a fruit list:
fruits=["apple","banana","chery"]
for x in fruits:
    print(x)

apple
banana
chery

In [14]:
# LOOPING THROUGH A STRING
# Loop through the letters in the word "banana":
for x in "banana":
    print(x)

b
a
n
a
n
a

In [21]:
# BREAK STATEMENT
# Exit the loop when x is "banana":
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x== "banana":
        break

apple
banana

In [22]:
# Exit the loop when x is "banana", but this time the break comes before the print:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x== "banana":
        break
    print(x)

apple

In [23]:
# CONTINUE STATEMENT
# Do not print banana:
fruits=["apple","banana","cherry"]
for x in fruits:
    if x== "banana":
        continue
    print(x)

apple
cherry

In [26]:
# THE RANGE() FUNCTION
# Using the range() function:
for x in range(6):
    print(x)

0
1
2
3
4
5

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

In [27]:
# Using the start parameter:
for x in range(2,6):
    print(x)

2
3
4
5

range(2, 6), which means values from 2 to 6 (but not including 6)

In [28]:
# Increment the sequence with 3 (default is 1):
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter

In [29]:
# ELSE IN FOR LOOP
# Print all numbers from 0 to 5, and print a message when the loop has ended:
for x in range(6):
    print(x)
else:
    print("finally finished!!")

0
1
2
3
4
5
finally finished!!

In [30]:
# Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
    if x==3:break
    print(x)
else:
    print("finally finished!!")

0
1
2

The else block will NOT be executed if the loop is stopped by a break statement.

In [31]:
# NESTED LOOP
# Print each adjective for every fruit:
adj=["red","big","tasty"]
friuts=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [32]:
# PASS STATEMENT

for x in [0,1,2]:
    pass