# capitalize

In [1]:
# Upper case the first letter in this sentence:
txt="hello world"
x=txt.capitalize()
print(x)

Hello world

In [2]:
txt="hello World"
x=txt.capitalize()
print(x)

Hello world

In [3]:
txt=" 40 hello world"
x=txt.capitalize()
print(x)

 40 hello world

# casefold

In [4]:
# Make the string lower case:
txt="HEllo WOrld"
x=txt.casefold()
print(x)

hello world

# center

In [5]:
# Print the word "banana", taking up the space of 20 characters, with "banana" in the middle:
txt="banana"
x=txt.center(20)
print(x)

       banana

In [6]:
# Using the letter "O" as the padding character:
txt="banana"
x=txt.center(20,"A")
print(x)

AAAAAAAbananaAAAAAAA

# COUNT

In [7]:
# Return the number of times the value "apple" appears in the string:
txt="i love apples,apple are favorite fruit"
x=txt.count("apple")
print(x)

2

In [8]:
# Search from position 10 to 24:
txt="i love apples,apple are favorite fruit"
x=txt.count("apple",10,24)
print(x)

1

# encode

In [10]:
# UTF-8 encode the string:
txt="my name is  Ståle"
x=txt.encode()
print(x)

b'my name is  St\xc3\xa5le'

In [12]:
# These examples uses ascii encoding, and a character that cannot be encoded, showing the result with different errors:
txt="my name is  Ståle"
print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'my name is  St\\xe5le'
b'my name is  Stle'
b'my name is  St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'my name is  St?le'
b'my name is  St&#229;le'

# endswith

In [2]:
# Check if the string ends with a punctuation sign (.):
txt="hello,welcome my world."
x=txt.endswith(".")
print(x)

True

In [3]:
# Check if the string ends with the phrase "my world.":
txt="hello,welcome my world."
x=txt.endswith("my world.")
print(x)

True

In [4]:
# Check if position 5 to 11 ends with the phrase "my world.":
txt="hello,welcome my world."
x=txt.endswith("my world.",5,11)
print(x)

False

# expandtabs

In [5]:
# Set the tab size to 2 whitespaces:
txt="H\te\tl\tl\to"
x=txt.expandtabs(2)
print(x)

H e l l o

In [6]:
# See the result using different tab sizes:
txt="H\te\tl\tl\to"
print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

# find

In [8]:
# Where in the text is the word "welcome"?:
txt="hello,welcome my world."
x=txt.find("welcome")
print(x)

6

In [9]:
# Where in the text is the first occurrence of the letter "e"?:
txt="hello,welcome my world."
x=txt.find("e")
print(x)

1

In [10]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:
txt="hello,welcome my world."
x=txt.find("e",5,10)
print(x)

7

In [11]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt="hello,welcome my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

# format

In [13]:
# Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:
txt="for only {price:.2f} dollers!"
print(txt.format(price=49))

for only 49.00 dollers!

In [14]:
# Using different placeholder values:
txt1="my name is {fname},iam {age}".format(fname="ammu",age=25)
txt2="my name is {0},iam {1}".format("ammu",25)
txt3="my name is {},iam {}".format("ammu",25)
print(txt1)
print(txt2)
print(txt3)

my name is ammu,iam 25
my name is ammu,iam 25
my name is ammu,iam 25

In [15]:
#placeholders

In [16]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt="we have {:<8} chickens."
print(txt.format(49))

we have 49       chickens.

In [17]:
#Use ">" to right-align the value:
txt="we have {:>8} chickens."
print(txt.format(49))

we have       49 chickens.

In [18]:
#Use "^" to center-align the value:
txt="we have {:^8} chickens."
print(txt.format(49))

we have    49    chickens.

In [19]:
#To demonstrate, we insert the number 8 to specify the available space for the value.
#Use "=" to place the plus/minus sign at the left most position:
txt="temperature is  {:=8} degrees celsius."
print(txt.format(-5))

temperature is  -      5 degrees celsius.

In [20]:
#Use "+" to always indicate if the number is positive or negative:
txt="temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3,7))

temperature is between -3 and +7 degrees celsius.

In [21]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt="temperature is between {:-} and {:-} degrees celsius."
print(txt.format(-3,7))

temperature is between -3 and 7 degrees celsius.

In [22]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt="temperature is between {: } and {: } degrees celsius."
print(txt.format(-3,7))

temperature is between -3 and  7 degrees celsius.

In [23]:
#Use "," to add a comma as a thousand separator:
txt="The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [24]:
#Use "_" to add a underscore character as a thousand separator:
txt="The universe is {:_} years old."
print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [27]:
#Use "b" to convert the number into binary format:
txt="The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [30]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt="we have {:d} chickens"
print(txt.format(0b101))

we have 5 chickens

In [31]:
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt="we have {:e} chickens"
print(txt.format(5))

we have 5.000000e+00 chickens

In [32]:
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt="we have {:E} chickens"
print(txt.format(5))

we have 5.000000E+00 chickens

In [34]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:
txt="the price is {:.2f} dollars."
print(txt.format(45))
#without the ".2" inside the placeholder, this number will be displayed like this:
txt="the price is {:f} dollars."
print(txt.format(45))

the price is 45.00 dollars.
the price is 45.000000 dollars.

In [35]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x=float('inf')
txt="The price is {:F} dollars."
print(txt.format(x))
#same example, but with a lower case f:
txt="The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [36]:
#Use "o" to convert the number into octal format:
txt="The octal version of {0} is {0:o}"
print(txt.format(10))

The octal version of 10 is 12

In [37]:
#Use "x" to convert the number into Hex format:
txt="The hexadecimal version of {0} is {0:x}"
print(txt.format(255))

The hexadecimal version of 255 is ff

In [38]:
#Use "X" to convert the number into upper-case Hex format:
txt="The hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The hexadecimal version of 255 is FF

In [39]:
#Use "%" to convert the number into a percentage format:
txt="you scored {:%}"
print(txt.format(0.25))

you scored 25.000000%

In [40]:
#Or, without any decimals:
txt="you scored {:.0%}"
print(txt.format(0.25))

you scored 25%

# index

In [41]:
# Where in the text is the word "welcome"?:
txt="hello,welcome my world."
x=txt.index("welcome")
print(x)

6

In [42]:
# Where in the text is the first occurrence of the letter "e"?:
txt="hello,welcome my world."
x=txt.index("e")
print(x)

1

In [43]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:
txt="hello,welcome my world."
x=txt.index("e",5,10)
print(x)

7

In [44]:
# If the value is not found, the find() method returns -1, but the index() method will raise an exception:
txt="hello,welcome my world."
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

# isalnum

In [45]:
# Check if all the characters in the text are alphanumeric:
txt="company12"
x=txt.isalnum()
print(x)

True

In [46]:
# Check if all the characters in the text is alphanumeric:
txt="company  12"
x=txt.isalnum()
print(x)

False

# isalpha

In [47]:
# Check if all the characters in the text are letters:
txt="companyX"
x=txt.isalpha()
print(x)

True

In [48]:
# Check if all the characters in the text is alphabetic:
txt="company10"
x=txt.isalpha()
print(x)

False

# isascii

In [49]:
# Check if all the characters in the text are ascii characters:
txt="company10@"
x=txt.isascii()
print(x)

True

# isdecimal

In [50]:
# Check if all the characters in the unicode object are decimals:
txt="\u0033"#unicode for 3
x=txt.isdecimal()
print(x)

True

In [51]:
# Check if all the characters in the unicode are decimals:
a="\u0030"#unicode for 0
b="\u0047"#unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

# isdigit

In [52]:
# Check if all the characters in the text are digits:
txt="50800"
x=txt.isdigit()
print(x)

True

In [53]:
# Check if all the characters in the text are digits:
a="\u0030"#unicode for 0
b="\u00B2"#unicode for ²
print(a.isdigit())
print(b.isdigit())

True
True

# isidentifier

In [55]:
# Check if the string is a valid identifier:
txt="demo"
x=txt.isidentifier()
print(x)

True

In [57]:
# Check if the strings are valid identifiers:
a="myfOLDer"
b="dEMO555"
c="55Demo"
d="my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

# islower

In [58]:
# Check if all the characters in the text are in lower case:
txt="hello world!"
x=txt.islower()
print(x)

True

In [59]:
# Check if all the characters in the texts are in lower case:
a="HELLO world"
b="hello 123"
c="my nameis Peter"
print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

# isnumeric

In [60]:
# Check if all the characters in the text are numeric:
txt="587648"
x=txt.isnumeric()
print(x)

True

In [61]:
# Check if the characters are numeric:
a="\u0030" #unicode for 0
b="\u00B2" #unicode for &sup2;
c="10km2"
d="-1"
e="1.5"
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

# isprintable

In [62]:
# Check if all the characters in the text are printable:
txt="Hello! Are you #1"
x=txt.isprintable()
print(x)

True

In [63]:
# Check if all the characters in the text are printable:
txt="Hello!\n Are you #1"
x=txt.isprintable()
print(x)

False

# isspace

In [64]:
# Check if all the characters in the text are whitespaces:
txt=" "
x=txt.isspace()
print(x)

True

In [65]:
# Check if all the characters in the text are whitespaces:
txt=" aa"
x=txt.isspace()
print(x)

False

# istitle

In [66]:
# Check if each word start with an upper case letter:
txt="Hello,And Welcome To My World"
x=txt.istitle()
print(x)

True

In [67]:
# Check if each word start with an upper case letter:
a="HELLO,AND WELCOME TO MY WORLD"
b="Hello"
c="22 Names"
d="This Is %$"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

# isupper

In [1]:
# Check if all the characters in the text are in upper case:
txt="THIS IS NOW!"
x=txt.isupper()
print(x)

True

In [2]:
# Check if all the characters in the texts are in upper case:
a="Hello World"
b="hell0 123"
c="MY NAME IS PETER"
print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

# join

In [3]:
# Join all items in a tuple into a string, using a hash character as separator:
myTuple=("John","Peter","Vicky")
x="#".join(myTuple)
print(x)

John#Peter#Vicky

In [5]:
# Join all items in a dictionary into a string, using the word "TEST" as separator:
myDict={"name":"John","country":"Norway"}
mySeperator="TEST"
x=mySeperator.join(myDict)
print(x)

nameTESTcountry

# ljust

In [8]:
# Return a 20 characters long, left justified version of the word "banana":
txt="banana"
x=txt.ljust(20)
print(x,"is my favorite fruit")

banana               is my favorite fruit

In [7]:
# Using the letter "O" as the padding character:
txt="banana"
x=txt.ljust(20,"o")
print(x)

bananaoooooooooooooo

# lower

In [9]:
# Lower case the string:
txt="Hello my FRIENDS"
x=txt.lower()
print(x)

hello my friends

# lstrip

In [10]:
# Remove spaces to the left of the string:
txt="     banana     "
x=txt.lstrip()
print("of all fruits",x,"is my favorite")

of all fruits banana      is my favorite

In [11]:
# Remove the leading characters:
txt=",,,,ssaaww.....banana"
x=txt.lstrip(",..asw")
print(x)

banana

# maketrans

In [12]:
# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:
txt="Hello Sam!"
mytable=txt.maketrans("S","P")
print(txt.translate(mytable))

Hello Pam!

In [13]:
# Use a mapping table to replace many characters:
txt="Hi Sam!"
x="mSa"
y="eJo"
mytable=txt.maketrans(x,y)
print(txt.translate(mytable))

Hi Joe!

In [14]:
# The third parameter in the mapping table describes characters that you want to remove from the string:
txt="Good night Sam!"
x="mSa"
y="eJo"
z="odnght"
mytable=txt.maketrans(x,y,z)
print(txt.translate(mytable))

G i Joe!

In [15]:
# The maketrans() method itself returns a dictionary describing each replacement, in unicode:
txt="Good night Sam!"
x="mSa"
y="eJo"
z="odnght"
print(txt.maketrans(x,y,z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

# partition

In [16]:
# Search for the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"
txt="I could eat bananas all day"
x=txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [17]:
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:
txt="I could eat bananas all day"
x=txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

# replace

In [18]:
# Replace the word "bananas":
txt="I like bananas"
x=txt.replace("bananas","apples")
print(x)

I like apples

In [19]:
# Replace all occurrence of the word "one":
txt="one one was a race horse, two two was one  too."
x=txt.replace("one","three")
print(x)

three three was a race horse, two two was three  too.

In [20]:
# Replace the two first occurrence of the word "one":
txt="one one was a race horse, two two was one  too."
x=txt.replace("one","three",2)
print(x)

three three was a race horse, two two was one  too.

# rfind

In [22]:
# Where in the text is the last occurrence of the string "casa"?:
txt="Mi casa, su casa."
x=txt.rfind("casa")
print(x)

12

In [23]:
# Where in the text is the last occurrence of the letter "e"?:
txt="Hello, welcome to my world."
x=txt.rfind("e")
print(x)

13

In [24]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:
txt="Hello, welcome to my world."
x=txt.rfind("e",5,10)
print(x)

8

In [25]:
# If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:
txt="Hello, welcome to my world."
print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

# rindex

In [26]:
# Where in the text is the last occurrence of the string "casa"?:
txt="Mi casa, su casa."
x=txt.rindex("casa")
print(x)

12

In [27]:
# Where in the text is the last occurrence of the letter "e"?:
txt="Hello, welcome to my world."
x=txt.rindex("e")
print(x)

13

In [28]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:
txt="Hello, welcome to my world."
x=txt.rindex("e",5,10)
print(x)

8

In [29]:
# If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:
txt="Hello, welcome to my world."
print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

# rjust

In [30]:
# Return a 20 characters long, right justified version of the word "banana":
txt="banana"
x=txt.rjust(20)
print(x,"is my favorite fruit.")

              banana is my favorite fruit.

In the result, there are actually 14 whitespaces to the left of the word banana.

In [31]:
# Using the letter "O" as the padding character:
txt="banana"
x=txt.rjust(20,"O")
print(x)

OOOOOOOOOOOOOObanana

# rpartition

In [32]:
# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"
txt="I could eat bananas all day, bananas are my favorite fruit"
x=txt.rpartition("bananas")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [33]:
# If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:
txt="I could eat bananas all day, bananas are my favorite fruit"
x=txt.rpartition("apples")
print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

# rsplit

In [34]:
# Split a string into a list, using comma, followed by a space (, ) as the separator:
txt="apple,banana,cherry"
x=txt.rsplit(",")
print(x)

['apple', 'banana', 'cherry']

In [35]:
# Split the string into a list with maximum 2 items:
txt= "apple, banana, cherry"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x=txt.rsplit(", ",1)
print(x)

['apple, banana', 'cherry']

# rstrip

In [36]:
# Remove any white spaces at the end of the string:
txt= "   banana    "
x=txt.rstrip()
print("of all fruits",x,"is my favorite")

of all fruits    banana is my favorite

In [37]:
# Remove the trailing characters if they are commas, s, q, or w:
txt="banana,,,,ssqqqww....."
x=txt.rstrip(",.qsw")
print(x)

banana

# split

In [38]:
# Split a string into a list where each word is a list item:
txt="welcome to the jungle"
x=txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [40]:
# Split the string, using comma, followed by a space, as a separator:
txt="hello, my name is peter, I am 26 years old"
x=txt.split(", ")
print(x)

['hello', 'my name is peter', 'I am 26 years old']

In [42]:
# Use a hash character as a separator:
txt="apple#banana#cherry#orange"
x=txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [43]:
# Split the string into a list with max 2 items:
txt="apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x=txt.split("#",1)
print(x)

['apple', 'banana#cherry#orange']

# splitlines

In [44]:
# Split a string into a list where each line is a list item:
txt="Thank you for the music\nWelcome to the jungle"
x=txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [45]:
# Split the string, but keep the line breaks:
txt="Thank you for the music\nWelcome to the jungle"
x=txt.splitlines(True)
print(x)

['Thank you for the music\n', 'Welcome to the jungle']

# startswith

In [46]:
# Check if the string starts with "Hello":
txt="Hello, welcome to my world."
x=txt.startswith("Hello")
print(x)

True

In [47]:
# Check if position 7 to 20 starts with the characters "wel":
txt="Hello, welcome to my world."
x=txt.startswith("wel",7,20)
print(x)

True

# strip

In [49]:
# Remove spaces at the beginning and at the end of the string:
txt="   banana     "
x=txt.strip()
print("of all fruits",x, "is my favorite")

of all fruits banana is my favorite

In [50]:
# Remove the leading and trailing characters:
txt=",,,,,,rrttggg....banana....rrr"
x=txt.strip(",.grt")
print(x)

banana

# swapcase

In [51]:
# Make the lower case letters upper case and the upper case letters lower case:
txt="Hello My Name Is PETER"
x=txt.swapcase()
print(x)

hELLO mY nAME iS peter

# title

In [52]:
# Make the first letter in each word upper case:
txt="Welcome to my world"
x=txt.title()
print(x)

Welcome To My World

In [53]:
# Make the first letter in each word upper case:
txt="Welcome to my 2nd world"
x=txt.title()
print(x)

Welcome To My 2Nd World

In [54]:
# Note that the first letter after a non-alphabet letter is converted into a upper case letter:
txt="hello b2b2b2 and 3g3g3g"
x=txt.title()
print(x)

Hello B2B2B2 And 3G3G3G

# translate

In [55]:
# Replace any "S" characters with a "P" character:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict={83: 80}
txt="Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [56]:
# Use a mapping table to replace "S" with "P":
txt="Hello Sam!"
mytable=txt.maketrans("S","P")
print(txt.translate(mytable))

Hello Pam!

In [57]:
# Use a mapping table to replace many characters:
txt="Hi Sam!"
x="mSa"
y="eJo"
mytable=txt.maketrans(x,y)
print(txt.translate(mytable))

Hi Joe!

In [59]:
# The third parameter in the mapping table describes characters that you want to remove from the string:
txt="Good night Sam!"
x="mSa"
y="eJo"
z="odnght"
mytable=txt.maketrans(x,y,z)
print(txt.translate(mytable))

G i Joe!

In [60]:
# The same example as above, but using a dictionary instead of a mapping table:
txt="Good night Sam!"
mydict={109:101,83:74,97:111,111:None,100:None,110:None,103:None,104:None,116:None}
print(txt.translate(mydict))

G i Joe!

# upper

In [61]:
# Upper case the string:
txt="Hello my friends"
x=txt.upper()
print(x)

HELLO MY FRIENDS

# zfill

In [62]:
# Fill the string with zeros until it is 10 characters long:
txt="50"
x=txt.zfill(10)
print(x)

0000000050

In [69]:
# Fill the strings with zeros until they are 10 characters long:
a = "hello"
b="welcome to the jungle"
c="10.000"
print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000