In [1]:
#1
r=float(input("enter the radius= "))
area=3.14*r*r
print("area of a circle with radius,",r,"=",area)

enter the radius= 7
area of a circle with radius, 7.0 = 153.86

In [2]:
#2
name=input("enter the name=")
rollno=input("enter the rollno=")
mark=input("enter the mark=")
print("name:",name)
print("rollno:",rollno)
print("mark:",mark)

enter the name=anju
enter the rollno=2
enter the mark=98
name: anju
rollno: 2
mark: 98

In [3]:
#3
l=[12,3,47,10]
print(max(l),"is the largest number")

47 is the largest number

In [4]:
#4
s=input("enter a string value ")
v={}
for i in s:
    if i in v:
        v[i]+=1
    else:
        v[i]=1
print("count of each character of ",s,":",v)

enter a string value ammu
count of each character of  ammu : {'a': 1, 'm': 2, 'u': 1}

In [5]:
#5
tuple1=(11,22,33,44,55)
tuple2=tuple1[3:5]
print(tuple2)

(44, 55)

In [6]:
#6
l=range(1,11)
for i in l:
    j=i-1
    sum=i+j
    
    print("current number",i,"previous number",j,"=",sum)

current number 1 previous number 0 = 1
current number 2 previous number 1 = 3
current number 3 previous number 2 = 5
current number 4 previous number 3 = 7
current number 5 previous number 4 = 9
current number 6 previous number 5 = 11
current number 7 previous number 6 = 13
current number 8 previous number 7 = 15
current number 9 previous number 8 = 17
current number 10 previous number 9 = 19

In [7]:
#7
a=[10,20,33,46,55]
for i in a:
    if i%5==0:
        print(i,"it is divisible by 5")
    else:
        print(i,"it is not divisible by 5")

10 it is divisible by 5
20 it is divisible by 5
33 it is not divisible by 5
46 it is not divisible by 5
55 it is divisible by 5

In [14]:
#8
num=int(input("enter the number:"))
if num>1:
    for i in range(2,int(num/2)+1):
        if num%i==0:
            print(num,"it is not a prime number")
            break
            
        else:
            print(num,"it is a prime number")
else:
    print(" is neither a prime nor a composite number")

enter the number:5
5 it is a prime number

In [19]:
#9
l=[10,40,30,70]
l.reverse()
print(l)

[70, 30, 40, 10]

In [21]:

#using for loop
l=[10,40,30,70]
l1=[]
for i in l:
    l1= [i]+l1
print(l1)

[70, 30, 40, 10]

In [23]:
#10
def pypart(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end=" ")
        print("\r")
n=4
pypart(n)

*
* *
* * *
* * * *

In [28]:
#11
a=int(3)
b=int(12)
c=int(7)
if (a>=b or a>=c):
    print(a," is the largest number")
elif (b>=a or b>=c):
    print(b," is the largest number")
else:
    print(c,"is the largest number")

12  is the largest number

In [29]:
#12
def exponent(base,exp):
    if (exp==1):
        return(base)
    if (exp!=1):
        return(base*exponent(base,exp-1))
base=int(input("enter the base"))
exp=int(input("enter the exponent"))
print("result=",exponent(base,exp))

enter the base2
enter the exponent3
result= 8

In [40]:
#13
num=int(input("enter the value:"))
r=range(2,num)
a=1
for i in r:
    a=a+(i*i*i)
print("sum of cube of numbers",a)

enter the value:4
sum of cube of numbers 36

In [2]:
#14
rows=int(5)
for i in range(rows):
    for j in range (i):
        print("*",end='')
    print('')
for i in range(rows,0,-1):
    for i in range(i):
        print("*",end='')
    print('')

*
**
***
****
*****
****
***
**
*

In [4]:
#15
a=int(input("enter the limit"))
r=range(1,a)
for i in r:
    if i%2==0 and i%5==0:
        print("fizzbuzz")
        continue
    elif i%2==0:
        print("fizz")
        continue
    elif i%5==0:
        print("buzz")
        continue
    print(i)

enter the limit11
1
fizz
3
fizz
buzz
fizz
7
fizz
9
fizzbuzz

In [5]:
#16
def most_frequent(list):
    return max(set(list),key=list.count)
list=[2,5,2,4,8,6,2]
print(most_frequent(list))

2

In [8]:
#17
list=[2,1,3,1]
print("the original list is"+str(list))
result=sum(map(lambda i:i*i,list))
print("sum of sqaure of numbers "+str(result))

the original list is[2, 1, 3, 1]
sum of sqaure of numbers 15

In [11]:
#18
a=range(1,16)
for i in a:
    if i%2==0:
        print(i,"even number")
    else:
        print(i,"odd number")

1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number
11 odd number
12 even number
13 odd number
14 even number
15 odd number

In [19]:
#19
f=float(input("enter the temperature in farenheit "))
c=((f-32)*5)/9
print(c,"temperature in celsius")

enter the temperature in farenheit 45
7.222222222222222 temperature in celsius

In [23]:
#20
def factorial(n):
    return 1 if(n==1 or n==0) else n*factorial(n-1)
n=3;
print("factorial of num :", n, "is",factorial(n))

factorial of num : 3 is 6